{{!-- CREATE SUBMIT BUTTON FOR USER INPUT TO DATABASE --}}
<div class="text-center">
    <h1>Devour the burger!</h1>
</div>
{{!-- jumbotron to hold and organize burger information --}}
<div class="jumbotron text-center">
    <h2>Add an awesome or gross burger to this list</h2>
    <form class="newburger-form">

        <div class="form-group">
            <label for="burger">Name your burger:</label>
            <input type="text" id="newBurger" name="burger" placeholder="Input burger name here!">
        </div>

        <div class="form-group">
            <label for="devoured">Devour:</label>

            <input type="radio" name="devour" value="1" /> Devoured
            <input type="radio" name="devour" value="0" checked="" /> Ready to be eaten
        </div>

        <button type="submit">Add your burger to the list!</button>
    </form>


    <div class="row">
        <div class="card-body col-6">

            <h2>Burgers yet to be eaten... mmmmm tasty</h2>


            <ul>
                {{#each burgers}}
                {{#unless devoured}}
                {{> burgers/burgers-block devour=false}}
                {{/unless}}
                {{/each}}
            </ul>


        </div>

        <div class="card-body col-6">
            <h2>Burgers that have been completely and utterly devoured</h2>

            <ul>
                {{#each burgers}}
                {{#if devoured}}
                {{> burgers/burgers-block devour=true}}
                {{/if}}
                {{/each}}
            </ul>

        </div>
    </div>
</div>